.fordform {
    display: block;
    width: 90%;
    border: 1px solid #cccccc;
    border-radius: 10px;
    height: 26px;
    margin: 8px;
    font-size: 13px;
    padding: 5px;
}

select.fordform {
    width: 93.98%;
    height: 36px;
    color: #807d7d;
}

input:focus-visible {
    outline: none;
}

select:focus-visible {
    outline: none;
}

main div {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
}

.forms {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
   
}

@media screen and (max-width:1024px){
    .forms {
    flex-direction: column;
    } 

    .imagemContato{
        width: 80%;

    }
}
h2 {
    text-align: left;
    font-weight: 800;
}

.divTotalContato{
    font-size: 100%;
}

button {
    width: 200px;
    height: 40px;
    margin-right: 8px;
    float: right;
}

.titulo {
    margin-left: 8px;
}


.imagemContato{
    display: flex;
    justify-self: center    ;
}

textarea{
    font-family: 'Roboto', sans-serif;
    width: 93.98%;
    height: 36px;
    color: #807d7d;
    display: block;
    width: 90%;
    border: 1px solid #cccccc;
    border-radius: 10px;
    height: 26px;
    margin: 8px;
    font-size: 13px;
    display: flex;
    justify-self: center;
    align-self: center;    
}

#opcao{
    
    padding-top: 4%;
}