
ul.modelcars {
    display: block;
    text-align: center;
    margin-bottom: 40px;
}

ul.modelcars li {
    display: inline-block;
    text-align: left;
    width: 300px;
    vertical-align: top;
}

img.photocar {
    display: block;
    width: 250px;
}

.checkbox {
    width: 30px;
    height: 30px;
    border: 1px solid #1b357e;
}

.infocar div {
    display: inline-block;
}

.info {
    width: 200px;
    vertical-align: top;
}

.textmodel {
    display: block;
    text-align: left;
    font-size: 14px;
    color: #1351d8;
    
}
.textprice {
    display: block;
    text-align: left;
    font-size: 10px;
}

table {
    display: flex;
    justify-content: center;
    border-collapse: collapse;
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 1%;
    img{width:80%;}
  }
  
  th, td {
    font-size: small;
    text-align: left;
    padding: 1%;
    font-size: 100%;
    
  }

tbody{
    padding: 1%;
}

  
  td:nth-child(1) {  
    font-weight: 700;
   
  }


  tr:nth-child(even) {background-color: #f2f2f2;}

div#compare {
    position: absolute;
    display: flex;
    
    display: none;
    width: 80vw;
    align-items: center;
    min-height: 55vh;
    max-height: 80vh;
    left: 5%;
    background: #fff;
    top: 20vh;
   
    border-radius: 10px;
   
    -webkit-box-shadow: 1px 1px 6px 0px rgb(0 0 0 / 34%);
    box-shadow: 1px 1px 6px 0px rgb(0 0 0 / 34%);
    /* img{width: 100%;} */
}


#botaoTable{
width: 30%;
height: 2em;
font-size: small;
text-align: center;
}

#divbotao{
    display: flex;
    justify-content: center;
}


@media screen and (max-width:600px) {
    table{
        img{width:5em;}
    }
}