
ul.modelcars {
    display: block;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 40px;
   width: 100%;
}

ul.modelcars li {
    display: inline-block;
    text-align: left;
    width: 25%;
    vertical-align: top;

}

.inforcar{
    display: flex;
  
}

@media only screen and (max-width:950PX){
    ul.modelcars li {
        width: 50%;
        
    }

    .divTotal{
        flex-direction: column;
        align-items: center;
        
    }

    .textoDiv{
        width: 100%;

    }
}

img.photocar {
    display: block;
    width: 250px;
}

.divTotal{
    padding-top: 1%;
    display: flex;
    height: 63vh;
    min-width: 100%;
    justify-content: center;
    align-items: center;
}

.divTotal2{
   display: flex;
   flex-direction: column;
   align-items: center;
    width: 100%;
  
}
.videoDiv{
width: 60%;

}

.textoDiv{
min-width: 30%;
max-width: 30%;
align-items: center;
align-self: center;
}

.video{
aspect-ratio: 16 / 9;
width: 100%;
}

.texto{
    text-align: justify;
    
}

.divbotao{
    padding-bottom: 1em;
}

.checkbox {
    width: 30px;
    height: 30px;
    border: 1px solid #1b357e;
}

.infocar div {
    display: inline-block;
}

.info {
    width: 200px;
    vertical-align: top;
}

.textmodel {
    display: block;
    text-align: left;
    font-size: 14px;
    color: #1351d8;
    
}
.textprice {
    display: block;
    text-align: left;
    font-size: 10px;
}

table {
    display: flex;
    justify-content: center;
    border-collapse: collapse;
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 1%;
    img{width:80%;}
  }
  
  th, td {
    font-size: small;
    text-align: left;
    padding: 1%;
    font-size: 1em;
    
  }

tbody{
    padding: 1%;
}

  
  td:nth-child(1) {  
    font-weight: 700;
   
  }


  tr:nth-child(even) {background-color: #f2f2f2;}

div#compare {
    position: absolute;
    display: flex;
    display: none;
    width: 55%;
    align-items: center;
    
    min-height: 55% ;
    max-height: 80%;
    font-size: 90%;
    float: right;
    background: #fff;
    top: 20vh;
    border-radius: 10px;
   
    -webkit-box-shadow: 1px 1px 6px 0px rgb(0 0 0 / 34%);
    box-shadow: 1px 1px 6px 0px rgb(0 0 0 / 34%);
    /* img{width: 100%;} */
}


#botaoTable{
width: 30%;
height: 2em;
font-size: small;
 
}

#divbotao{
    display: flex;
    justify-content: center;
}


